/* Global Styles */
body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #FAFBFF;
}

/* Layout */
.dashboard-container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 306px;
    background-color: #FFFFFF;
    /* color: #9197B3; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-left: 37.5px;
    padding-right: 37.5px;
}

.sidebar-header {
    margin: 0;
    font-size: 26px;
    display: flex;
    gap: 8px;
    margin-top: 36px;
    margin-bottom: 36px;
}
.sidebar-header h1 {
    margin: 0;
    font-size: 26px;
    display: flex;
}
.sidebar-header img {
    width: 37px;
    height: 37px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 1em 0;
}

.menu li a section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
 
.menu a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    color: #9197B3;
    text-decoration: none;
    padding: 0.8em 1em;
    border-radius: 8px;
    transition: background-color 0.3s;
    width: 100%;
    font-size: 14px;
    /* margin-top: 30px; */
}

.menu a:hover {
    background-color: #5932EA;
    color: white;
}

.menu img {
    width: 20px;
    height: 20px;
    /* margin-right: 10px; */
    /* color: #9197B3; */
}

.dropdown-icon img {
    margin-right: auto;
    font-size: 14px;
    color: #9197B3;
}

/* Main Content */
.main-content {
    flex: 1;
    margin-left: 71px;
    margin-right: 71px;
    width: 100%;
    overflow-y: auto;
}

.user-profile {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 41px;
    margin-bottom: 51px;
    gap: 10px;
}

.header .user-profile img {
    width: 30px;
    height: 30px;
}

.search {
    padding: 0.5em;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-profile {
    font-size: 24px;
}



.table-section{
    /* width: 968px; */
    background-color: white;
    height: auto;
    border-radius: 30px;
    padding: 40px;

}


/* Table */
.customer-table table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 5px;
    overflow: hidden;
}

.customer-table th, .customer-table td {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

/* .customer-table th {
    background-color: #ecf0f1;
} */

.customer-table tr:hover {
    background-color: #f9f9f9;
}
